                                /* Background */  

 .content .profiledata{
    background-color: #ffffff;
    width: 42rem;
    height: 28rem;
    border-radius: 20px;
    float: left;
    margin-left: -24rem;
    margin-top: 3rem;
    top: 0;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.content .cv{
    background-color: #ffffff;
    width: 45rem;
    height: 43rem;
    float: right;
    border-radius: 20px;
    margin-right: 4rem;
    margin-top: -12rem;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2); 
    overflow-y: auto;
  }


.profilepic h3, .profiledetials h3{
    text-align: center;
}

                          /* Table */

#tableprofile{
    width: 100%;
    margin: 3% auto;
    max-width: 1000px;
}

#tableprofile .mylabel{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: left;
    border-radius: 20px;
}

#tableprofile .mydata{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    /* background: #6d9976; */
    color: #000;
    text-align: center;
    border-radius: 20px;
}

#tableprofile tr td:nth-child(1){
    width: 35%;
    font-size: 20px;
}

                              /* profile update button popup css */

.form-popup {
  display: none;
  position: fixed;
  z-index: 9;
  width: 18rem;
  height: 15rem;
  margin-left: -35rem;
  margin-top: -10rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2); 
}

.form-container {
  max-width: 18rem;
  padding: 10px;
  background-color: white;
}

.form-container label{
  font-size: 1.2rem;
}

.form-container input[type=tel], .form-container input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 25px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=tel]:focus, .form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

.form-container #update-btn{
  background-color: #3B6E51;
  border: none;
  color: #fff;
  margin-top: 4 rem;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
}

.form-container #cancel-btn{
  background-color: red;
  border: none;
  color: #fff;
  margin-top: 4 rem;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  float: right;
}

.form-container button{
  background:none;
  border: 0;
  margin-left: 10%;
}

.form-container .btn:hover, .open-button:hover {
  cursor: pointer;
}

                              /* Profile picture */     

.content img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 15rem;
  margin-top: -12rem;
  object-fit: cover;
  float: left;
}

.content input[type="file"] {
  display: none;
  margin-bottom: 2%;
}

.content input[type="submit"]:hover{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
inset -4px -4px 6px 0 rgba(255,255,255,.2),
inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.content label {
  width: 10px;
  height: 10px;
  cursor: pointer;
  color: #3B6E51;
  margin-left: 24rem;
  margin-top: 10rem;
  display: block;
}


.content #imageName{
  color: #3B6E51;
}

/* confirm cancel popup css */
  
  .home-section .home-content .main-content .content table button{
    background:none;
    border: 0;
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .confirm-box {
    position: fixed;
    max-width: 25rem;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2); 
  }
  
  .confirm-box h2, .confirm-box h4{
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 10px;
    margin-top: 0;
  }
  
  .confirm-box ul {
    list-style: disc;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .confirm-box li {
    margin-bottom: 10px;
  }
  
  .confirm-box button {
    margin-top: 10px;
    margin: 10px;
    background-color: #3B6E51;
    color: #fff;
    padding: 2% 6%;
    border: 0;
    border-radius: 20px;
    font-size: 18px;
  }
  
  .confirm-box button:hover{
    cursor: pointer;
    background-color: #264838;
  }
  
  .confirm-box #cancel-button{
    float: right;
    background-color: red;
  }
  
  .submit-button i {
    margin-right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
  }

