.home-section{
    position: fixed;
    background: #c4d4cc;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 15rem;
    transition: all 0.5s ease;
}

.home-section .home-content{
    position: relative;
    padding-top: 105px;
    height: 100%;
}

.home-content .main-content{
    display: fixed;
    width: 97%;
    height: 35rem;
    background: #fff;
    padding: 10px;
    margin: 0 20px 0 25px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    /* align-items: center; */
}

.main-content h1{
  font-size: 40px;
  margin-left: 10px;
}

.home-content .main-content .content {
  border-collapse: collapse;
  width: 100%;
  margin-top: 0.5%;
  margin-bottom: 2%;
  margin-right: 15%;
  max-height: 30rem;
  overflow-y: auto;
  z-index: -10;
}

/* .home-content .main-content .content h1{
  margin-bottom:30px;
} */

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #3B6E51;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  left: 15rem;
}

footer .foot span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

footer .foot span a{
  font-weight: 500;
  color: #FFF;
}

footer .foot span a:hover{
  text-decoration: underline;
}

