.home-section{
    position: fixed;
    background: #c4d4cc;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 15rem;
    transition: all 0.5s ease;
}

.home-section .home-content{
    position: relative;
    padding-top: 105px;
    height: 100%;
}

.home-content .main-content{
    display: fixed;
    width: 97%;
    height: 48.5rem;
    background: #fff;
    padding: 10px;
    margin: 0 20px 0 25px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
}

.main-content h1{
  font-size: 40px;
  margin-left: 10px;
}

/* .main-content h2{
  margin-left: 28rem;
  margin-top: 1rem;
} */

.home-content .main-content .content {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 15%;
}

                                  /* footer */

footer{
  position: fixed;
  bottom: 0;
  width: 90%;
  background: #3B6E51;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  left: 15rem;
}

footer .foot span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

footer .foot span a{
  font-weight: 500;
  color: #FFF;
}

footer .foot span a:hover{
  text-decoration: underline;
}

                        /* Custom Scroll Bar CSS */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #c4d4cc;
  border-radius: 20px;
}

::-webkit-scrollbar-track-piece {
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #264838;
  border-radius: 20px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #3B6E51;
}


