.content section {
  position: absolute;
  height: 10%;
  width: 30%;
  /* background: #e3f2fd; */
}
.content #searchtable .section .show-modal{
  background: #6d9976;
  color: #000;
  border: 1px solid #6d9976;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.3s ease;
  margin-left: 7rem;
}
.content #searchtable .section .show-modal:hover {
    background: #264838;
    color: #fff;
    cursor: pointer;
}
.content #searchtable .section .modal-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.content section.active .show-modal {
  display: none;
}
/* .content .overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
.content section.active .overlay {
  opacity: 1;
  pointer-events: auto;
} */
.content .modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}
.content section.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.content .modal-box i {
  font-size: 70px;
  color: #4070f4;
}
.content .modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.content .modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.content .modal-box .buttons {
  margin-top: 25px;
}
.content .modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}
.content .modal-box .content-section{
	padding-top: 50px;
	padding-bottom: 50px;
  text-align: center;
}
.content .modal-box .profile-picture{
	width: 144px;
	height: 144px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
.content .modal-box .overlay{
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;	
}
.content .modal-box .profile-details h1{
	color: #fff;
	position: relative;
	z-index: 2;
}
.content .modal-box .about{
	font-size: 24px;
	color: #fff;

}

.content .modal-box .position-in-company{
	color: #888;
}

.content .modal-box .section-heading{
	margin-top: 30px;
	margin-bottom: 30px;
}

.content .modal-box ul.list-section {
	padding-bottom: 30px;
}