                                /* Background */  

 .content .profilepic{
    background-color: #ffffff;
    width: 30rem;
    height: 38rem;
    border-radius: 20px;
    float: left;
    margin-left: 3rem;
    margin-top: 2rem;
    top: 0;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.content .profiledetails{
    background-color: #ffffff;
    width: 61rem;
    height: 38rem;
    float: right;
    border-radius: 20px;
    margin-right: 3rem;
    margin-top: 2rem;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2); 
    overflow-y: auto;
  }


.profilepic h3, .profiledetials h3{
    text-align: center;
}

                          /* Table */

#tableprofile{
    width: 100%;
    margin: 3% auto;
    max-width: 1000px;
}

#tableprofile .mylabel{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: left;
    border-radius: 20px;
}

#tableprofile .mydata{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #6d9976;
    color: #000;
    text-align: center;
    border-radius: 20px;
}

#tableprofile tr td:nth-child(1){
    width: 35%;
    font-size: 20px;
}

                              /* profile update button popup css */

.form-popup {
  display: none;
  position: fixed;
  z-index: 9;
  width: 18rem;
  height: 15rem;
  margin-left: -35rem;
  margin-top: -10rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2); 
}

.form-container {
  max-width: 18rem;
  padding: 10px;
  background-color: white;
}

.form-container label{
  font-size: 1.2rem;
}

.form-container input[type=tel], .form-container input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 25px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=tel]:focus, .form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

.form-container #update-btn{
  background-color: #3B6E51;
  border: none;
  color: #fff;
  margin-top: 4 rem;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
}

.form-container #cancel-btn{
  background-color: red;
  border: none;
  color: #fff;
  margin-top: 4 rem;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  float: right;
}

.form-container button{
  background:none;
  border: 0;
  margin-left: 10%;
}

.form-container .btn:hover, .open-button:hover {
  cursor: pointer;
}