.home-content .main-content .content #tableprofile{
    width: 75%;
}

.home-content .main-content .content #tableprofile .mylabel{
    width: 50%;
    padding: 5px;
    padding-left: 35px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.home-content .main-content .mydata{
    background-color: #c4d4cc;
    padding: 5px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 50px;
}

.home-content .main-content .content .button{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.home-content .main-content .content .button a{
    color: #fff;
    background: #3B6E51;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.home-content .main-content .content .button a:hover{
    background:  #264838;
    cursor: pointer;
}

.home-content .main-content #noti{
    margin-left: 25%;
    width: 50%;
    margin-bottom: 2%;
    opacity: 60%;
    border-collapse: separate;
    border-spacing: 10px;
} 

.home-content .main-content .content .table{
    border-collapse: collapse;
    width: 80%;
    margin-left: 12%;
    border-radius: 20px;
    margin-top: 3%;
    margin-bottom: 5%;
}
  
.home-content .main-content .content .table th{
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 8px;
    font-weight: bold;
}
  
.home-content .main-content .content .table td{
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding: 8px;
    text-align: center;
}
  
.home-content .main-content .content .table tr:nth-child(odd) {
    background-color: #D6EFC7;
    border: 2px solid #D6EFC7;
}
  
.home-content .main-content .content .table tr:nth-child(even) {
    background-color: #c4d4cc;
    border: 2px solid #c4d4cc;
}
  
.home-content .main-content .content .table a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
  
.home-content .main-content .content .table a:hover{
    color: rgb(0, 0, 0);
    /* font-size: 1.1rem; */
    font-weight: bolder;
    padding: 0px;
}

.home-content .main-content .content .form{
    margin: 0% auto;
    width: 75%;
    /*  max-width: 700px;
    padding: 15px;*/
    padding-top: 25px;
    justify-content: space-evenly;    
}
  
.home-content .main-content .content .form input{
    width: 40%;
    padding: 5px;
    border: 1px solid #264838;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.home-content .main-content .content .form textarea{
    width: 40%;
    padding: 5px;
    border: 1px solid #264838;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
}

.home-content .main-content .content .form .btn{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    background: #3B6E51;
    margin-left: 12%;
    border-radius: 20px;
    border: 0;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
}

.home-content .main-content .content .form .btn:hover{
    background:  #264838;
    cursor: pointer;
}

.home-content .main-content .content .table #cap{
    font-size: 20px;
    color: #264838;
    padding: 1%;
    float: left;
    font-weight: bold;
}

.home-content .main-content .content h3{
    padding: 8px;
    background-color: red;
    width: 100%;
}

/* .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  } */

  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
  }

  section.active .popup {
    display: none;
  }

  section.active .overlay {
    opacity: 1;
    pointer-events: auto;
  }

.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
}

  section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-box i {
    font-size: 70px;
    color: #3B6E51;
  }

  .modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #3B6E51;
  }

  .modal-box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #3B6E51;
    text-align: center;
  }

  .modal-box .buttons {
    margin-top: 25px;
  }

  .modal-box button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
  }
   
img {
  height: 200px;
} 

.profile-pic-div{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
}

#photo{
  height: 100%;
  width: 100%;
}

#file{
  display: none;
}

#uploadBtn{
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
  line-height: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: none;
}