                    
                    /* Table */

#tableprofile{
    width: 100%;
    margin: 3% auto;
    max-width: 1000px;
}

#tableprofile .mylabel{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: left;
    border-radius: 20px;
}

#tableprofile .mydata{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #6d9976;
    color: #000;
    text-align: center;
    border-radius: 20px;
}

#tableprofile tr td:nth-child(1){
    width: 35%;
    font-size: 20px;
}

.table{
    width: 100%;
    margin: 3% auto;
    max-width: 1200px;
    text-align: center;
    border: #6d9976 2px solid;
    border-radius: 20px;
    border-collapse: collapse;
}

.table th{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #6d9976;
    color: #000;
    text-align: center;
}

.table td {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #fff;
    color: #000;
    text-align: center;
}

.table td a{
    text-decoration: none;
}

.table td a:hover, .table td a i:hover{
    text-decoration: underline;
}

.ps{
    margin-top: 1rem;
}

#plus{
    color: #6d9976;
    margin-left: 20rem;
}

#plus:hover{
    color: #000;
}

.search{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    padding: 10px;
    border: 1px solid #6d9976;
    border-radius: 20px;
    width: 20rem;
    margin-left: 40rem;
}

        /* change password */ 

.form{
    width: 100%;
    margin-top: 5rem;
    margin-left: 40rem;
    max-width: 64rem;
}

.form input{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    max-width: 20rem;
    font-weight: 400;
    border: 2px solid #6d9976;
    border-radius: 1.3rem;
    margin-bottom: 1rem;
}


                            /* Button */
                        
.home-content .main-content .button{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
    margin-left: 10rem;
}

.home-content .main-content .button a{
    color: #fff;
    background: #3B6E51;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.3rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.home-content .main-content .button a:hover{
    background:  #264838;
    cursor: pointer;
}

#searchbtn{
    background: #6d9976;
    color: #000;
    border: 1px solid #6d9976;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease;
}

#searchbtn:hover{
    background: #264838;
    color: #fff;
    cursor: pointer;
}

#resetbtn{
    background: #6d9976;
    color: #000;
    border: 1px solid #6d9976;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease;
}

#resetbtn:hover{
    background: #264838;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.btn{
    background: #6d9976;
    color: #000;
    border: 1px solid #6d9976;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn:hover{
    background: #264838;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}


                            /* Dropdown */

.drop{
    width: 100%;
    max-width: 10rem;
    height: 2rem;
    margin: 0 auto;
    border: 2px solid #6d9976;
}
