.home-content .main-content .content #tableprofile{
    width: 100%;
    margin: 3% auto;
    max-width: 1000px;
}

.home-content .main-content .content #tableprofile .mylabel{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: left;
    border-radius: 20px;
}

.home-content .main-content .content #tableprofile .mydata{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background: #6d9976;
    color: #000;
    text-align: center;
    border-radius: 20px;
}

.home-content .main-content .content #tableprofile tr td:nth-child(1){
    width: 35%;
    font-size: 16px;
}

.home-content .main-content .content .search{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    padding: 10px;
    border: 1px solid #6d9976;
    border-radius: 20px;
    width: 20rem;
    margin-left: 40rem;
    margin-top: 2rem;
}

.home-content .main-content .content #searchbtn{
    background: #6d9976;
    color: #000;
    border: 1px solid #6d9976;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease;
}

.home-content .main-content .content #resetbtn{
    background: #6d9976;
    color: #000;
    border: 1px solid #6d9976;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease;
}

.home-content .main-content .content #resetbtn:hover{
    background: #264838;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.home-content .main-content .content #searchbtn:hover{
    background: #264838;
    color: #fff;
    cursor: pointer;
}

.home-content .main-content .content #noti{
    margin-left: 25%;
    width: 50%;
    margin-bottom: 2%;
    border-collapse: separate;
    border-spacing: 10px;
    border: 0;
} 

.home-content .main-content .content #noti tr:nth-child(odd) {
    background-color: #D6EFC7;
    border: 2px solid #D6EFC7;
}
  
.home-content .main-content .content #noti tr:nth-child(even) {
    background-color: #c4d4cc;
    border: 2px solid #c4d4cc;
}

.home-content .main-content .content .table{
    width: 100%;
    margin: 3% auto;
    max-width: 1200px;
    text-align: center;
    border: #6d9976 2px solid;
    border-radius: 20px;
    border-collapse: collapse;
}
  
.home-content .main-content .content .table th{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    background: #6d9976;
    color: #000;
    text-align: center;
}
  
.home-content .main-content .content .table td{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

.home-content .main-content .content .table tr{
    background-color: #fff;
}
  
.home-content .main-content .content .table a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
  
.home-content .main-content .content .table a:hover{
    color: rgb(0, 0, 0);
    /* font-size: 1.1rem; */
    font-weight: bolder;
    padding: 0px;
}

.home-content .main-content .content #tableprofile .open-button{
  background:none;
  border: 0;
  font-size: 25px;
  margin-left: 10px;
}

.home-content .main-content .content #submitComplaint {
  width: 100%;
  max-width: 64rem;
}

.home-content .main-content .content #submitComplaint form table{
  width: 100%;
  max-width: 64rem;
}

.home-content .main-content .content .form .cmplnt{
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  max-width: 30rem;
  font-weight: 400;
  border: 2px solid #6d9976;
  border-radius: 1.3rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  resize: vertical;
  justify-content: center;
}

.home-content .main-content .content .form{
    width: 100%;
    margin-top: 3rem;
    margin-left: 5rem;
    max-width: 64rem;
    justify-content: space-evenly;
}
  
.home-content .main-content .content .form input{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    max-width: 30rem;
    font-weight: 400;
    border: 2px solid #6d9976;
    border-radius: 1.3rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    resize: vertical;
}

.home-content .main-content .content .form .btn{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding: 4px 12px;
    margin-left: 18rem;
    color: #fff;
    background: #3B6E51;
    border: 0;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
}

.home-content .main-content .content .form .btn:hover{
    background:  #264838;
    cursor: pointer;
}

.home-content .main-content .content .table #cap{
    font-size: 20px;
    color: #264838;
    padding: 1%;
    float: left;
    font-weight: bold;
}

.home-content .main-content .content .button{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
    margin-left: 10rem;
}

.home-content .main-content .content .button a{
    color: #fff;
    background: #3B6E51;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.3rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.home-content .main-content .content .button a:hover{
    background:  #264838;
    cursor: pointer;
}

.home-content .main-content .content h3{
    padding: 8px;
    background-color: red;
    width: 100%;
}

/* .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  } */



  /* .overlay {
    
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 1;
    pointer-events: none;
  }

  section.active .popup {
    display: none;
  }

  section.active .overlay {
    opacity: 1;
    pointer-events: auto;
  }

.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) scale(1.2);
}

  section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-box i {
    font-size: 70px;
    color: #3B6E51;
  }

  .modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #3B6E51;
  }

  .modal-box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #3B6E51;
    text-align: center;
  }

  .modal-box .buttons {
    margin-top: 25px;
  }

  .modal-box button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
  } */
   /*
img {
  height: 200px;
} 

.profile-pic-div{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
}

#photo{
  height: 100%;
  width: 100%;
}

#file{
  display: none;
}

#uploadBtn{
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
  line-height: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: none;
} */

/* #confirm {
  display: none;
  background-color: #c4d4cc;
  color: #000000;
  border: 1px solid #3B6E51;
  position: fixed;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  left: 45%;
  top: 30%;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

#confirm button {
  background-color: #FFFFFF;
  display: inline-block;
  border-radius: 12px;
  border: 2px solid #3B6E51;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  padding: 2% 5%;
  margin: 5%;
}

#confirm button:hover{
  background-color: #3B6E51;
  color: #fff;
}

#confirm .message {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
  color: #3B6E51;
}

#confirm i{
   font-size: 70px;
   color: #3B6E51;
}

#confirm h4{
  font-size: 16px;
  font-weight: 400;
  color: red;
  text-align: center;
} */
 
.form-popup {
  display: none;
  position: fixed;
  z-index: 9;
  width: 18rem;
  height: 17rem;
  margin-left: -35rem;
  margin-top: -10rem;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2), 2px 6px 3px 3px rgba(0, 0, 0, 0.2); 
}

.form-container {
  max-width: 18rem;
  padding: 10px;
  background-color: white;
}

.form-container label{
  font-size: 1.2rem;
}

.form-container input[type=tel], .form-container input[type=text]{
  width: 100%;
  padding: 15px;
  margin: 25px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=tel]:focus, .form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

.form-container #update-btn{
  background-color: #3B6E51;
  border: none;
  color: #fff;
  margin-top: 3 rem;
  padding: 10px 20px;
  font-size: 1rem;
}

.form-container .fa-times{
  color: red;
  font-size: 40px;
  margin-left: 40px;
  margin-top: 4rem;

}

.form-container button{
  background:none;
  border: 0;
  margin-left: 10%;
}

.form-container .btn:hover, .open-button:hover {
  cursor: pointer;
}